<p>
    Welcome to the admin page {{sess.username}}.
    you better be an admin if your here.
</p>
<p> 
    <a href="/modify">modify accounts</a>. 
</p>
<p> 
    <a href="/delete">delete accounts</a>. 
</p>
<p> <a href="/account">back</a>. </p>