<p>
    you can change your password on this page.
</p>

<form method=post>
<label> Password: <input type=text name=pass> </label>
<input type=submit name="sub" value="update">
</form>

<p> <a href="/account">back</a>. </p>