<p>
    Enter your login details:
</p>

<form method=post>
<label> Username: <input type=text name=user> </label>
<label> Password: <input type=text name=pass> </label>
<input type=submit name="sub" value="Login">
</form>
<a href="/register">Register</a>