<p>
    Enter your Username and Password:
</p>

<form method=post>
<label> Username: <input type=text name=user> </label>
<label> Password: <input type=text name=pass> </label>
<label> Admin: <input type=checkbox name=admin value="admin"> </label>
<input type=submit name="sub" value="Register">
</form>